
.backm{
  flex:0 0 auto;
  //background-color: #0000ff;
  display:flex;
  align-items:center;
  justify-content: center;
}

.maintweak{
  padding: 0;
}


.moviegrid{
  min-width:100%;
  padding:10px;
  //background-color: darkviolet;
}