
@import '../_variables.scss';

@font-face {
  font-family: 'Maven'; /*a name to be used later*/
  src: url('../../../fonts/maven/MavenProLight-300.otf'); /*URL to font*/
}
@font-face {
  font-family: 'MissionScript'; /*a name to be used later*/
  src: url('../../../fonts/mission-script/Mission-Script.otf'); /*URL to font*/
}



.back{
  flex:0 0 auto;
  background-color: #424242;
  display:flex;
  min-height:20vh;
  align-items:center;
  justify-content: center;
  padding-top: $appbar-height;
}



.logo{
  //margin:0 0 20px;
  height:15vw;
  min-height:100px;
  max-height:300px;
}

.title-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  //background-color: aqua;
  margin:0 0 40px;

}

.pretitle{
  font-family:"MissionScript", "Helvetica","Arial",sans-serif;
  color:#EF6C00;
  //background-color: antiquewhite;
  margin-right: 15px;
  font-size: 4em;
  @media only screen and (max-width: $screen-xsmall) {
    font-size: 3em;
  }
  //margin-top:5px;
}

.title{
  //letter-spacing: .1rem;
  //font-weight: 500;
  font-family:"Maven", "Helvetica","Arial",sans-serif;
  color:#FAFAFA;
  //background-color: blueviolet;
  font-size: 2.5em;
  @media only screen and (max-width: $screen-xsmall) {
    font-size: 2em;
  }
}

.formcc{
  //background-color: lavender;
  width:100%;
}